html {
  height: 100%;
  width: 100%;
}

.img {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a:link {
  color: green;
}

a:visited {
  color: red;
}

a:hover {
  color: pink;
}

a:active {
  color: darkgreen;
}

.header {
  height: 50px;
  margin: 0px;
  padding: 10px;
  text-align: center;
  font-family: Rockwell, Arial;
  background-color: #dfb508;
  font-size: 44px;
  color: #735d04;
}

.main {
  background-color: #faf3d6;
  font-family: perpetua, 'Times New Roman';
  padding: 25px;
  text-align: center;
  font-size: 20px;
  margin: 0px;
}

.footer {
  text-align: center;
  background-color: #d6f0fa;
  margin: auto;
  padding: auto;
}

ul, ol {
  list-style-position: inside;
}

.center {
  width: 400px;
  margin: auto;
  padding: auto;
}

